.features {
  position: relative;
  /* background-color: #fff; */

  .skewed {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 0;
    transform: skewY(6deg);
  }

  .cityLabel {
    margin: 0;
    font-size: 24px;
    width: 100%;
    border-radius: 12px;
    padding: 16px 40px;
  }

  .featured-content {

    /* display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 24px; */
    .content-cards {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      .props-card {
        border-bottom: 3px solid white;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        overflow: hidden;
        margin-top: 20px;

        background: #fff;
        transition: all 0.2s ease-in-out 0s;
        border-radius: 25px;
        padding: 5px;
      }

      .props-card:hover {
        border-color: var(--sec);
      }
    }

    .feat {
      width: 30%;
      /* box-shadow: 4px 4px 10px #c5c5c5; */

      .img-whp {
        transition: 1s all;
      }

      :hover .img-whp {
        transform: scale(1.1);
        width: 700px;
      }
    }

    .feat_property {
      background-color: #fff;
      border: 1px solid #ebebeb;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease;
    }

    .feat_property .thumb {
      background: #1d293e;
      cursor: pointer;
      border-radius: 8px;
      overflow: hidden;
      margin: 10px 9px 0 10px;
      position: relative;
    }

    .feat_property .details {
      position: relative;
    }

    .feat_property .thumb img {
      opacity: 0.6;
      object-fit: cover;
      min-height: 220px;
      width: 100%;
      height: 100%;
      max-height: 200px;
    }

    .feat_property .thumb .thmb_cntnt,
    .properti_city.home6 .thumb .thmb_cntnt {
      bottom: 0;
      left: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .feat_property .thumb .thmb_cntnt a.fp_price {
      bottom: 15px;
      font-size: 22px;
      color: #fff;
      font-weight: 700;
      left: 20px;
      line-height: 1.2;
      position: absolute;
      text-decoration: none;
    }

    a {
      transition: 0.3s;
    }

    .feat_property .thumb .thmb_cntnt a.fp_price small {
      font-size: 14px;
    }

    .feat_property .details .tc_content {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    .feat_property .details .tc_content p {
      font-size: 14px;
      line-height: 20px;
      color: #777;
      margin: 10px 0;
    }

    .feat_property .details .tc_content h4 {
      font-size: 18px;
      color: #484848;
      font-weight: 700;
      line-height: 1.2;
    }

    h4 {
      transition: 0.3s;
    }

    .feat_property .details .tc_content h4 a,
    .feat_property .details .tc_content .h4 a {
      font-weight: 700;
      color: #484848;
      text-decoration: none;
    }

    .prop_details {
      padding: 0;
      margin: 4px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    .feat_property .details .tc_content .prop_details li {
      margin-right: 0;
      display: block;
    }

    .list-inline-item {
      display: inline-block;
    }

    .feat_property .details .tc_content .prop_details li a {
      text-decoration: none;
      font-size: 14px;
      color: #484848;
      line-height: 1.2;
    }

    .feat_property .details .fp_footer {
      border-top: 1px solid #d9d9d9;
      padding: 5px 20px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .fp_meta {
      padding-left: 0;
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 0;
    }

    .feat_property .details .fp_footer .fp_meta li img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

    .list-inline-item a {
      color: #777;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 40px 0 30px;
  }

  .content-cards {
    .props-card {
      width: 23%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .features {
    padding: 40px 0 30px;

    .content-cards {
      .props-card {
        width: 30%;
      }
    }

    .featured-content {
      flex-wrap: wrap;

      .feat {
        width: 47%;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .features {
    padding: 40px 0;

    .content-cards {
      .props-card {
        width: 47%;
      }
    }

    .cityLabel {
      font-size: 20px;
      margin: auto;
      width: 100%;
    }

    .featured-content {
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
      border-radius: 0;
      gap: 30px;

      .feat {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .features {
    .cityLabel {
      font-size: 16px;
    }

    .content-cards {
      .props-card {
        width: 100%;
      }
    }
  }
}