.dashLayout {
  .dash-container {
    position: relative;
    width: 100%;

    .sidebar {
      height: 85vh;
      width: 280px;
      position: fixed;
      top: 110px;
      background-color: white;
      border-radius: 20px;
      left: 20px;

      .side-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;

        .side-item {
          padding: 12px 20px;
          background-color: var(--sec);
          color: white;
          display: block;
          width: 100%;
          font-size: 20px;
          font-weight: 500;
          border-radius: 11px;
          transition: 0.3s all ease-in-out;
        }

        .side-item:hover {
          background-color: #885f0e;
        }
      }
    }

    .dash-content {
      width: calc(100% - 370px);
      left: 320px;
      margin: 20px;
      position: relative;
      top: 10px;
      background-color: white;
      min-height: 85vh;
      padding: 20px;
      border-radius: 20px;
    }
  }

  .loadingIndicator {
    width: 100%;
    height: auto;
  }
}