.developer-page {
  .cityLabel {
    margin-bottom: 0;
  }

  .dev {
    background-image: url("/src/assets/developers.avif");
    background-position: center;


    h2 {
      background: #00000047;
      width: 100%;
    }
  }

  .developer-card:hover .ant-card-cover img {
    filter: none;
  }

  .ant-card-meta {
    :hover {
      box-shadow: none;
      background: transparent;
    }
  }

  .developer-card {
    width: fit-content;
    transition: 0.3s all ease-in-out;
    /* width: fit-content; */

    .ant-card {
      width: 100% !important;
      padding: 5px;
      background-color: #fff;
      border: 1px solid #e9e9e9;
      text-align: center;


    }
  }

  .ant-card-cover img {
    height: 240px !important;
  }

  .ant-card-meta {
    :hover {
      box-shadow: none;
      background: trasparent;
    }
  }



  .bg {
    background-size: cover;
    width: 100%;
    height: 40vh;
    filter: grayscale(1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    background-repeat: no-repeat;
  }
}


.dev-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding-top: 50px;


}

@media (min-width: 1100px) {
  .dev-container {
    .developer-card {
      width: 23%;
    }
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .dev-container {
    .developer-card {
      width: 31%;
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .dev-container {
    .developer-card {
      width: 47%;
    }
  }
}

@media screen and (max-width: 600px) {
  .dev-container {
    justify-content: center;

    .developer-card {
      width: 97%;
    }
  }
}