.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 1300px) {
  .sections-header-container {
    margin: 40px 0;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .sections-header-container {
    margin: 40px 0;
  }
}

@media screen and (max-width: 768px) {
  .sections-header-container {
    margin: 30px 0 20px;
  }
}

.sections-header-container {
  width: 100%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}