.blogCard {
  padding: 10px;
  background-color: white;
  cursor: pointer;

  .blogImg img {
    border-radius: 25px;
  }

  .blogContent {
    padding: 10px;

    .title {
      font-size: 20px;
      margin-top: 10px;
    }
    .title:hover {
      color: var(--sec);
    }
    .date,
    .desc {
      color: #5a5a5a;
      margin-top: 20px;
      font-size: 14px;
    }
    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .continue {
      background: transparent;
      border: 0;
      outline: 0;
      font-size: 16px;
      cursor: pointer;
      color: var(--sec);
    }
    .continue:hover {
      text-decoration: underline;
    }
  }
}
